{{ define "content" }}
<nav>
    <ul>
        <li><a href="/mirrors" class="secondary">&larr; {{ .Locale.T "nav.mirrors" }}</a></li>
    </ul>
</nav>
<div id="browse">
<article>
    <header class="table-title">
        <img class="header-icon" src="/static/img/file-directory-16.svg" alt="">
        <strong>{{ .Locale.T "browse.title" }}</strong>
        <input class="search" name="search" placeholder="{{ .Locale.T "search.press_slash" }}" aria-label="Search" />
    </header>
    <div class="overflow-auto">
        <fieldset>
            <a href="/mirrors">{{ .Locale.T "browse.mirrors" }}</a>
            {{ range .Breadcrumbs }}
            >
            <a href="{{ .URL }}">{{ .Label }}</a>
            {{ end }}
        </fieldset>
    </div>
    {{ if .Entries }}
    <div class="overflow-auto">
        <table class="striped" id="browse-table">
            <thead class="table-header">
                <tr>
                    <th><button class="sort sort-button outline contrast" data-sort="name">{{ .Locale.T "browse.th_name" }}</button></th>
                    <th><button class="sort sort-button outline contrast" data-sort="size">{{ .Locale.T "browse.th_size" }}</button></th>
                    <th><button class="sort sort-button outline contrast" data-sort="mtime">{{ .Locale.T "browse.th_modified" }}</button></th>
                </tr>
            </thead>
            <tbody class="list">
                {{ range .Entries }}
                <tr>
                    <td class="name">
                        {{ if eq .Type "file" }}
                        <img class="browser-icon" src="/static/img/file-16.svg" alt="">
                        {{ else if eq .Type "directory" }}
                        <img class="browser-icon" src="/static/img/file-directory-16.svg" alt="">
                        {{ else }}
                        <img class="browser-icon" src="/static/img/question-16.svg" alt="">
                        {{ end }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </td>
                    <td class="size">{{ if .Size }}{{ .Size }}{{ end }}</td>
                    <td class="mtime">{{ if .Mtime }}{{ .Mtime }}{{ end }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    {{ else }}
    <p><em>{{ .Locale.T "browse.empty" }}</em></p>
    {{ end }}
</article>
</div>
<script>
    var options = {
        valueNames: ['name', 'size', 'mtime']
    };
    var browseList = new List('browse', options);

    document.addEventListener('keydown', function(e) {
        if (e.key === '/' && !/^(INPUT|TEXTAREA|SELECT)$/.test(e.target.tagName)) {
            e.preventDefault();
            var input = document.querySelector('.search');
            if (input) input.focus();
        }
    });
</script>
{{ end }}