{{ define "content" }}
{{ range $i, $cat := .Categories }}
<div id="downloads-{{- $i -}}">
<article>
    <header class="table-title"><img class="header-icon" src="/static/img/apps-16.svg" alt=""><strong>{{ $cat.Category | catAlias | $.Locale.T }}</strong>
        <input class="search" name="search" placeholder="Search" aria-label="Search" />
    </header>
    <div class="overflow-auto">
        <table class="striped" id="downloads-table">
            <thead class="table-header">
                <tr>
                    <th><button class="sort sort-button outline contrast" data-sort="distro">{{ $.Locale.T "downloads.th_distro" }}</button></th>
                </tr>
            </thead>
            <tbody class="list">
                {{ range $cat.Distros }}
                <tr>
                    <td class="distro">
                        <img class="browser-icon" src="/static/img/tag-16.svg" alt="">
                        <a href="/downloads/{{ . }}">{{ . }}</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</article>
</div>
<script>
    window.downloadOptions = window.downloadOptions || {};
    window.downloadsLists = window.downloadsLists || {};

    // Use the ID as a key
    window.downloadOptions[{{$i}}] = {
        valueNames: ['distro']
    };
    
    window.downloadsLists[{{$i}}] = new List('downloads-{{$i}}', window.downloadOptions[{{$i}}]);
</script>
{{ end }}
{{ end }}