{{ define "content" }}
<article>
    <header>
        <img class="header-icon" src="/static/img/question-24.svg" alt=""><strong>{{ .Locale.T "help.title" }}</strong>
    </header>
    <div class="grid help-grid">
        <aside>
            <fieldset>
                <legend><strong>{{ .Locale.T "help.sidebar_title" }}</strong></legend>
                {{ range .HelpLinks }}
                <label>
                    {{ if eq $.Cname .Cname }}
                    <strong>
                        <a href="{{ .URL }}">{{ .Cname }}</a>
                    </strong>
                    {{ else }}
                    <a href="{{ .URL }}" style="text-decoration: none;">{{ .Cname }}</a>
                    {{ end }}
                </label>
                {{ end }}
            </fieldset>
        </aside>
        {{ template "help_body" . }}
    </div>
</article>
{{ end }}